// Variables

//- Override and add to color system

$orange: #C45525;
$brown: #345A61;

//- Override primary color
$primary: $orange;

//- Override font system
$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-serif: "Scope One", sans-serif;
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;

//- Add custom variables
$navbar-height: 4.5rem;
