<!DOCTYPE html>
{% extends 'base.html' %}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon titre index html{% endblock title %}</title>
</head>
<body>


<h1>Index page (index.html)</h1>



    {% block scripts %}
        <script>
            const autocomplete_url = "{% url 'autocomplete:complete' %}";
        </script>
        {{ block.super }}
            <script src="{% static 'js/autocomplete.js' %}"></script>
    {% endblock scripts %}

</body>
</html>