<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<h1>Index page (index.html)</h1>
{% if user.is_authenticated %}
    <p>Hi your are logged as {{ user.username }} !</p>
    <p><a href="{% url 'logout' %}">Log out</a></p>
{% else %}
    <p>Your are not logged in, sign up or log in !</p>
    <p><a href="{% url 'users:signup' %}">Sign Up</a></p>
    <p><a href="{% url 'login' %}">Log In </a></p>
{% endif %}
</body>
</html>